*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    color:white;
    font-weight: 400;
    font-size: medium;
}
body{

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.container{
    width:100%;
    min-height:100vh;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
    box-sizing: border-box;
    overflow: hidden;
    align-content: center;
    justify-content: space-evenly;
}
.navbar{
    width: 100%;
    align-items:center;
    display: inline-flex;
}
.iactlogo{
    width:25%;
    cursor:pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 25%;
    margin-left: 22%;
}
.menu-icon{
    width: 3.5%;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 15%;
    display:none;
}
.isa_bmsce{
    width: 25%;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
   margin-left: 2%;
}
button{
    width:160px;
    font-weight: 800;
    border:0;
    padding:12px 10px;
    outline:none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: linear-gradient(to right,rgb(97, 249, 97),rgb(1, 153, 1));
    border-radius:6px;
    cursor:pointer;
    margin-left: 90px;
}
button:hover{
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container input{
    color: #000;
}

@media only screen and (max-width:700px){
    .container{
        width:400px;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }
    .navbar{
        display: block;
    }
}
